.favorite-nav-container {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
  cursor: pointer;
  :hover {
    background-color: rgb(221, 218, 218);
  }
  > :last-child {
    margin-right: 0;
  }
}

.favorite-nav-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 32px;
  border: 2px solid white;
  border-radius: 5px;
  width: 250px;
  padding: 16px;
  box-shadow: 0 4px 6px rgb(245, 148, 148);
}
